In [1]:
! sudo cp /home/jovyan/work/jar/neo4j-connector-apache-spark_2.12-4.1.0_for_spark_3.jar /usr/local/spark/jars/neo4j-connector-apache-spark_2.12-4.1.0_for_spark_3.jar

In [2]:
import pyspark
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder \
    .master("local") \
    .appName('jupyter-pyspark') \
    .getOrCreate()
sc = spark.sparkContext
sc.setLogLevel("ERROR")

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark-3.1.2-bin-hadoop3.2/jars/spark-unsafe_2.12-3.1.2.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
21/10/31 23:09:24 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

In [17]:
df = spark.read.format("org.neo4j.spark.DataSource") \
  .option("url", "bolt://neo4j:7687") \
  .option("labels", "Person") \
  .load()
df.show()

+----+--------+------------------+----+
|<id>|<labels>|              name|born|
+----+--------+------------------+----+
|   1|[Person]|      Keanu Reeves|1964|
|   2|[Person]|  Carrie-Anne Moss|1967|
|   3|[Person]|Laurence Fishburne|1961|
|   4|[Person]|      Hugo Weaving|1960|
|   5|[Person]|   Lilly Wachowski|1967|
|   6|[Person]|    Lana Wachowski|1965|
|   7|[Person]|       Joel Silver|1952|
|   8|[Person]|       Emil Eifrem|1978|
|  12|[Person]|   Charlize Theron|1975|
|  13|[Person]|         Al Pacino|1940|
|  14|[Person]|   Taylor Hackford|1944|
|  16|[Person]|        Tom Cruise|1962|
|  17|[Person]|    Jack Nicholson|1937|
|  18|[Person]|        Demi Moore|1962|
|  19|[Person]|       Kevin Bacon|1958|
|  20|[Person]| Kiefer Sutherland|1966|
|  21|[Person]|         Noah Wyle|1971|
|  22|[Person]|  Cuba Gooding Jr.|1968|
|  23|[Person]|      Kevin Pollak|1957|
|  24|[Person]|        J.T. Walsh|1943|
+----+--------+------------------+----+
only showing top 20 rows

In [28]:
cipher_ql = "MATCH (person:Person {name: 'Tom Hanks'})-[:ACTED_IN]->(movie:Movie) RETURN person.name, movie.title, movie.released, movie.tagline"
df = spark.read.format("org.neo4j.spark.DataSource") \
  .option("url", "bolt://neo4j:7687") \
  .option("query",cipher_ql) \
  .load()
df.toPandas()

,person.name,movie.title,movie.released,movie.tagline
0,Tom Hanks,Apollo 13,1995,"Houston, we have a problem."
1,Tom Hanks,You've Got Mail,1998,At odds in life... in love on-line.
2,Tom Hanks,A League of Their Own,1992,Once in a lifetime you get a chance to do some...
3,Tom Hanks,Joe Versus the Volcano,1990,"A story of love, lava and burning desire."
4,Tom Hanks,That Thing You Do,1996,In every life there comes a time when that thi...
5,Tom Hanks,The Da Vinci Code,2006,Break The Codes
6,Tom Hanks,Cloud Atlas,2012,Everything is connected
7,Tom Hanks,Cast Away,2000,"At the edge of the world, his journey begins."
8,Tom Hanks,The Green Mile,1999,Walk a mile you'll never forget.
9,Tom Hanks,Sleepless in Seattle,1993,"What if someone you never met, someone you nev..."
10,Tom Hanks,The Polar Express,2004,This Holiday Season... Believe
11,Tom Hanks,Charlie Wilson's War,2007,A stiff drink. A little mascara. A lot of nerv...

In [33]:
# df = spark.read.format("org.neo4j.spark.DataSource") \
#   .option("url", "bolt://neo4j:7687") \
#   .option("relationship","DIRECTED:") \
#   .load()
# df.show()